html, body {
  max-width: 826.67px;
  border: 0;
  margin: 0 auto;
  padding: 0;
  vertical-align: baseline;
  font-size: 16px;
  background: #fff;
}

article { display: block; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rokkitt", sans-serif;
  color: #2e2e2e;
}

p {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 16px;
    color: #373737;
  }

em, li { color: #373737; }

a {
  text-decoration: none;
  color: #a2040d;
}

.clear { clear: both; }

.cv {
  vertical-align: baseline;
  display: block;
  margin: 30px auto;
  font-family: "Lato", sans-serif;
}

.person {
  padding: 24px 32px;
  border-bottom: 2px solid #a2040d;
  background: #ebebeb;
}

#avatar {
  width: 12.5%;
  float: left;
  margin-right: 18px;
}

#avatar img {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
}

#name { float: left; }

#name h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 14px;
  margin-bottom: -14px;
}

#name h2 {
  font-size: 1.35rem;
  font-weight: 400;
}

#contact {
  margin: auto 0;
  float: right;
}

#contact ul {
  list-style-type: none;
  font-size: 0.855rem;
  padding: 0;
}

.main_info {
  padding: 0 32px;
  background: #f2f2f2;
}

.main_info section {
  border-bottom: 1px solid #a2040d;
  padding: 8px 0;
}

.main_info section:last-child {
  border-style: none;
}

.section_title {
  float: left;
  width: 25%;
  padding: 8px 0;
}

.section_title h1 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  color: #a2040d;
  margin: 0 auto;
}

.section_content {
  float: right;
  width: 75%;
  padding: 8px 0;
}

.section_content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.section_content article { margin: 0 auto 22px; }

.section_content p, .section_content li {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.35rem;
}

.section_content p, .section_content ul { margin: 0 auto 8px; }

.section_content li { margin: 0 auto 4px; }

.section_content .key {
  list-style-type: none;
  column-count: 3;
  /* -moz-column-count: 3; */
  /* -webkit-column-count: 3; */
  padding-left: 0.5rem;
}

.section_content .key li::before {
  content: '◆';
  position: relative;
  left: -0.5rem;
}

.section_content .sub_details {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 8px;
  margin-top: -2px;
}





@media (min-width: 600px) and (max-width: 826.67px) {
  #avatar { display: none; }

  #name h1 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: -16px;
  }

  #name h2 { font-size: 1.25rem; }

  #contact ul {
    list-style-type: none;
    font-size: 0.85rem;
    margin: auto;
  }
}
